option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    DATABASE_URL: "postgresql+asyncpg://postgres:password@localhost:5432/bodhi"
